/* Tailwind base, components, utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* DaisyUI plugin */
@import "daisyui";

/* Custom styles */
body {
  background-color: whitesmoke;
}

.navbar {
  background-color: white;
}

.left-side {
  background: url("./assets/vector1.png"), linear-gradient(to bottom, #422AD5, #6A5AE0);
}

.right-side {
  background: url("./assets/vector1.png"), linear-gradient(to right, #68D391, #276749);
}